MONGO_HOSTNAME=
MONGO_DB=
MONGO_PORT=
PORT = 

MONGO_REMOTE_USER=
MONGO_REMOTE_PASS=
MONGO_DB_NAME=

CLIENT_URL = 

NODE_ENV =

JWT_SECRET =
JWT_EXPIRE_TIME = 

COOKIE_EXPIRE_TIME = 

SMTP_HOST =
SMTP_POST =
SMTP_EMAIL =
SMTP_PASSWORD = 
SMTP_FROM_EMAIL =
SMTP_FROM_NAME =
  
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY = 
CLOUDINARY_SECRET_KEY =

STRIPE_SECRET_KEY =